body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1fd6f6;
    margin: 0;
    padding: 30px;
  }
  
  header.centered-header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
   
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
  
  nav ul li {
    display: inline;
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 2rem;
  }
  #skills{
    border-bottom: dashed rgb(234, 17, 17) 3PX;
    border-radius: 30px;
    text-align: center;
    width: 10%;
  }
  .skills {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .Education {
    border-bottom: dashed rgb(234, 17, 17) 3PX;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .subHead{
    
    border-bottom: dashed rgb(234, 17, 17) 3PX;
    border-radius: 30px;
    text-align: center;
    width: 10%;
  }
  .project {                      
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .Courses {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
.Extracurricular {
  Background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  
   {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Center profile image and add styling */
  .profile-container {
    text-align: center;
    margin-top: 2rem;
  }
  
  .profile-img {
    border-radius: 50%;
    width: 500px; /* Adjust image size as needed */
    height: 500px;
    border: 4px solid #fff; /* White border around image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }
  
  .profile-container p {
    margin-top: 1rem;
    color: #333;
    font-size: 1.1rem;
  }
  